[submodule "ext/vst3sdk"]
	path = ext/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "ext/portaudio"]
	path = ext/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "ext/rtmidi"]
	path = ext/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/wxWidgets"]
	path = ext/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
